.pieChartSection {
    position: relative;
}

.pieChart {
    /* height: 200px; */
    /* width: 100%; */
}

.title {
    z-index: 1;
    position: absolute;
    margin: unset;
    font-size: 16px;
    font-weight: unset;
    text-align: center;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 95%;
}