.table {
    width: 100%;
    font-size: 14px;
}

.table tr:nth-child(odd):not(.titleRow) {
    background-color: #efeeed;
}

.table td,
.table th {
    padding: 8px 10px;
}

table,
th,
td {
    border: 1px solid #1d96b2;
    text-align: center;
}

th {
    border-right: 1px solid rgba(255, 255, 255, 0.472);
}

.titleRow {
    background-color: #1d96b2;
    color: white;
    text-align: center;
}

.titleRow th {
    font-weight: unset;
    padding: 5px;
}

.dataRow {
    color: #5e5d52;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.mostSection {
    text-align: center;
}

.mostParag {
    margin: 0;
    white-space: nowrap
        /* text-align: center; */
}

.mostImg {
    cursor: pointer;
    width: 30px;
    margin-top: -2px;
    opacity: .7;
}

.mostImg:hover {
    opacity: 1;
}